.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#242424;
  border-bottom: 8px solid #333;
}

.ColorSelection {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.Color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;

  &:hover {
    scale: 1.2;
  }
}

.SizeSelection {
  border-left: 5px solid #333;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.Size {
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  background-color: white;

  &:hover {
    background-color: #ccc;
  }
}

button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}