.Controls {
  display: flex;
  justify-content: center;
  background-color: bisque;
  padding: 10px;
}

button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #242424;
  color: white;
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}